<!DOCTYPE html>

<head>
  <title>Relay Control App</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="icon" href="https://www.raspberrypi.org/app/themes/mind-control/images/favicon.png">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
    .heading {
      color: #9B4DCA;
    }

    .active {
      color: #9B4DCA;
    }
  </style>
</head>

<body>
  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="column">
        <h1 class="heading">Relay Control App</h1>
        <p> If you want more relays available please edit the <strong>pins </strong> dictionary in <strong>main.py</strong> file. <br>
	For further information about wiring relays please checkout the following <a href="http://www.how-to-wire-it.com/how-to-wire-a-relay.html" target="_newtab"> link </a>
	</p>
	
        <blockquote>
          <code class="prettyprint lang-python"> 
            pins = { <br>
            <span style="display:inline-block; width: 25px;"></span> 2  : {'name' : 'Desk Lamp', 'state': GPIO.LOW, 'status': "Not Active" }, <br>
            <span style="display:inline-block; width: 25px;"></span> 3  : {'name' : 'Phone Charger', 'state': GPIO.LOW, 'status': "Not Active" },<br>
            <span style="display:inline-block; width: 25px;"></span> 4  : {'name' : 'Speakers', 'state': GPIO.LOW,  'status': "Not Active" },<br>
            <span style="display:inline-block; width: 25px;"></span> YOUR_GPIO_NUMBER  : {'name' : 'YOUR_GPIO_NAME', 'state': 'YOUR_GPIO_INITIAL_STATE', 'status': 'YOUR_STATUS_MESSAGE'} <br>
            }
	        </code>
        </blockquote>
        <table style="margin-top: 50px;">
          <thead>
            <tr>
              <th> ID </th>
              <th> Name </th>
              <th> Status </th>
              <th> Action </th>
            </tr>
          </thead>
          <tbody>
            {% for pin in pins %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ pins[pin].name }}</td>
              <td class="{% if pins[pin].state == true %} active {%else%} not-active {% endif %}"><strong> {{ pins[pin].status | string }} </strong></td>
              <td>
                {% if pins[pin].state == true %}
                <a class="button off" href="/{{pin}}/off"> Turn Off</a> {% else %}
                <a class="button" href="/{{pin}}/on">Turn On</a> {% endif %}
              </td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="column">Made with
        <a href="https://en.wikipedia.org/wiki/Cannabis" target="_newtab">Cannabis</a>,
        <a href="http://flask.pocoo.org/" target="_newtab">Flask</a> and
        <a href="http://milligram.io/" target="_newtab">Miligram</a>,

      </div>
      <div class="column column-25 column-offset-25"><a href="http://github.com/ycbayrak" target="_newtab"> ycbayrak</a> <i class="fa fa-heart"></i> <a href="https://en.wikipedia.org/wiki/Minimalism" target="_newtab"> minimalism. </a> </div>
    </div>

  </div>
</body>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

</html>
